!!! 5

html(xml:lang: "it")
	head
		title Hello #{name}
	body
		h1 Hello #{name}!
		- if (mood == "happy")
			p It's nice to see you're so happy!
		- else
			p Why so serious?
		p See you around #{name}!
